$font-family: 'Lato', Arial, Helvetica, sans-serif;
$green: #03a84e;
$text-black: #373737;
$text-gray: #9C9AA6;
$background-color: #000;
$circle-color: #fff;
$arrow-color: #888;
$arrow-size: 20px;

@mixin clear__input(){
  position: absolute;
  right: 13vw;
  top: 27px;
  cursor: pointer;

  @media screen and (min-width:1400px) {
  right: 9vw !important;
  }
}

@mixin spinner (){
  .spinner {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #03A84E;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    -ms-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @-moz-keyframes spin {
    0% {
      -moz-transform: rotate(0deg);
    }
    100% {
      -moz-transform: rotate(360deg);
    }
  }

  @-ms-keyframes spin {
    0% {
      -ms-transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
  
@mixin flex ($justify,$align,$direction:'row'){
  display: -webkit-box;  
  display: -moz-box;     
  display: -ms-flexbox; 
  display: -webkit-flex;  
  display: flex; 

  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction; 

  -webkit-box-pack: $justify;  
  -moz-box-pack: $justify;   
  -ms-flex-pack: $justify;   
  -webkit-justify-content: $justify;
  justify-content: $justify; 

  -webkit-box-align: $align; 
  -moz-box-align: $align;   
  -ms-flex-align: $align;   
  -webkit-align-items: $align;
  align-items: $align; 
}

@mixin position ($position,$top,$left){
  position: $position;
  top: $top;
  left: $left;
}

@mixin outer__container {
  position: relative;
  width:100%;
  background-color: #FAFAFA;
  overflow:hidden !important ;
}

@mixin font($font-size,$line-height){
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin category__grid($position-top, $margin-right, $width,$max-width, $col-gap) {
  position: absolute;
  top: $position-top;
  width: 985px;
  max-width: $max-width !important;
  @include flex(center,center);     

  -webkit-flex-wrap: wrap; 
  -moz-flex-wrap: wrap;    
  -ms-flex-wrap: wrap;     
  flex-wrap: wrap;              

  & > * {        
    /* Fallback for gap */
    margin-right: $col-gap; // Adjust margin for gap fallback
    margin-bottom: $col-gap;    
    height: 220px;
    box-sizing: border-box;
  }

  & > *:nth-child(3n) {
    margin-right: 0 ; // Remove right margin for every third item
  }
  & > *:nth-child(2) {
    z-index: 9999; 
  }
  @media  (min-width:663px) and (max-width:992px) {
    & > *:nth-child(3n) {
      margin-right: $col-gap ; 
    }
    &{
      width: $width;
    }
  }

  @media screen and (max-width:664px) {
    & > *{
      margin-right: 0 !important;
    }
    &{
      width: $width;
    }
  }
}

  @mixin remove_default_styles(){
    color: inherit;
    text-decoration: none;
  }

  @mixin carousal (){
      max-height: 220px !important;
      width: 70vw;
      @include flex(center,center);
      & > * {        
        /* Fallback for gap */
        margin-right: 36px;
        margin-bottom: 20px;   
    }
    & > *:nth-child(3n) {
      margin-right: 0 !important; // Remove right margin for every third item
    }
    
    &.card {
      width: calc((100% / 3) - 24px); /* Adjust for gap */
      height: 100%;
      margin-right: 36px; /* Adjust for gap */
    }

    @media (min-width:868px) and (max-width: 1168px) {
      width: 76vw !important;
      height: 16.99vw !important;
    }
  }

  @mixin category__card($width:313px,$height:220px,$padding-bottom:none){
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    height: $height;
    width: $width;
    max-width: 363px;
    @include flex(space-evenly,center);
    background: white;
    cursor: pointer;
    padding-bottom: $padding-bottom !important;

    @media screen and (max-width:733px) {
      width: 313px !important;
      height: 220px !important;
    }
  }

@mixin inner__card(){
  .innerCard{
    height: 149px;
    width: 250px;
    text-align: center;

  .card-icon {
    border: none !important;
  }
  .title{
    @include font(20px,24px);
    margin: 20px 0 21px 0;
    text-align: center;
  }
  .article__count {
    @include font(13px,15.6px);
    color: #03A84E;
    margin: 0;
  }
  .last__update {
    @include font(11px,13.2px);
    margin: 0;
    color: #9C9AA6;
  }
}
    @media (min-width:733px) and (max-width:868px) {
    .displayed__categories {
      .title{
        @include font(12px,18px);
        margin: 3px 0 3px 0 !important;
      }
      .innerCard{
          width: 24vw !important;
          height: 13vw !important;
          margin-top: 16px !important;
      }
    }
    }
  
    @media (min-width:868px) and (max-width:992px) {
    .displayed__categories {
      .title{
        @include font(15px,20px);
        margin: 6px 0 6px 0 !important;
      }

      .innerCard{
        width: 24vw !important;
        height: 13vw !important;
        margin-top: 16px !important;
      }

    }
  }

  @media (min-width:992px) and (max-width:1168px) {
    .displayed__categories {
      .title{
        @include font(18px,22px);
        margin: 8px 0 8px 0 !important;
      }
      .innerCard{
          width: 24vw !important;
          height: 13vw !important;
          margin-top: 16px !important;
      }
    }
    }
}